.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: rgba(100,150,200,0.2); */
    
}

.contentContainer{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: start;
}