.button{
    height: 40px;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    flex-direction: row;
    font-size: 13px;
    font-weight: 600;
}