.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: rgba(0,0,0,0.2);
    /* cursor: pointer; */
    height: 10vh;

}

.headerText{
    text-align: center;
    cursor: pointer;
    color: blue;
}